<div class="about__a-feature">
    <div class="content-wrap">


        <h1 class="heading heading-singe-page">
            <span class="light">Let's spread</span>
            <br>
            <span class="head-body">Motivation<br/>across the<br/>nation</span>
        </h1>

        <div class="symbol symbol-lj-1 inline-svg js-inline-svg" data-use="#svg-symobl-lj-01" aria-hidden="true" role="presentation"></div>

    </div>
</div>


<div class="about__intro">
    <div class="content-wrap">

        <div class="description body-text">

            <p class="description-caption">FOR MORE THAN 27 YEARS, LORNA JANE CLARKSON HAS BEEN INSPIRING WOMEN AROUND THE WORLD TO MOVE THEIR BODIES AND LIVE THEIR BEST ACTIVE LIVES.</p>

            <p>From the grass roots of her Active Living philosophy, Active Nation Day has grown into a global phenomenon and we want you to be part of it! By getting involved in Active Nation Day you’re making a commitment to living actively and authentically, letting your actions speak louder than words and inspiring others to move towards a fitter future.</p>

            <br><br>

        </div>

        <a href="/#when-and-where" class="btn btn-solid-1 btn-solid-pink btn-fixed-width js-scroll-link js-internal-link" data-multi-page-link="true">Join the movement</a>

    </div>
</div>


<div class="about__social-banner">
    <div class="content-wrap">

        <div class="caption">
            <span>#activenationday</span>//<span>#lornajane</span>
        </div>

    </div>
</div>


<div class="about__founder">

    <div class="header">
        <div class="content-wrap">

            <h2 class="heading heading-singe-page">
                <span class="light">Meet the founder</span>
                <br>
                <span class="head-body">Lorna Jane <br>Clarkson</span>
            </h2>

        </div>
    </div>

    <div class="section-body">
        <div class="content-wrap">

            <div class="description body-text">

                <p>Lorna Jane Clarkson is the founder of multi-award-winning activewear label Lorna Jane.</p>

                <p>Today, she represents MORE than activewear by inspiring women to live their best life through  Active Living and the daily practice of Move Nourish Believe. Lorna’s story began 27 years ago when she single-handedly revolutionised women's fitness clothing and began building the Active Living category.</p>

                <p>Frustrated by the dull and uninspiring range of activewear available for women, she took matters into her own hands and started sewing her own outfits while working as a fitness instructor in North Queensland. Her designs quickly gained a following, with the women in her classes placing orders upon orders for her custom-made pieces.</p>

                <p><q>Our vision extends beyond the product. We don’t just sell activewear, we sell an active way of life. Our garments encourage women to achieve their best through Active Living and ultimately reach their full potential.</q></p>

                <p>After quitting her day job as a dental therapist and moving back to Brisbane, Lorna began designing full-time. Demand increased and she launched the label’s first retail store in 1990 in Brisbane’s CBD, with her husband Bill Clarkson by her side.</p>

                <p>As word quickly spread about Lorna's feminine and functional designs, her sisterhood grew with new stores opening across Australia and its first store in the United States in 2012.There are now  155 stores worldwide, with the brand inspiring a global online movement embraced by hundreds of thousands of followers.<br/>
                Lorna Jane’s popular online destination Move Nourish Believe is place to learn, grow and be inspired to live active every day.</p>

                <p><q>Our customers are the culture and essence of our brand and their loyalty has always been incredibly special to me. When people wear Lorna Jane they are telling the world they want to be fitter, healthier and live a more inspirational life.</q></p>

                <a href="https://instagram.com/ljclarkson/" class="cta-btn btn btn-outline-1 with-padding btn-outline-pink js-external-link">Meet our leading lady, follow Lorna Jane Clarkson on Instagram</a>

            </div>

        </div>
    </div>
</div>


<!--div class="about__sponsor">

    <div class="content-wrap">
        <h2 class="heading">
            <span class="light">Our partners</span>
        </h2>
        &nbsp;
    </div>

    <div class="header">
        <div class="content-wrap">

            <img src="img/optimised/logo-goodlife.png" alt="Goodlife Health Club" class="sponsor-logo">

        </div>
    </div>

    <div class="section-body">
        <div class="content-wrap">

            <div class="description body-text">

                <blockquote class="blockquote blockquote-reset">With 77 convenient locations - many with 24/7 access - Goodlife Health Clubs is one of Australia’s largest health club chains supporting more than 220,000 members. Our expert personal trainers can create a customised program for you to maximise your workouts and get the results you’re after. Add to that a huge variety of group fitness classes, state-of-the–art equipment and a range of flexible and affordable memberships and Goodlife Health Clubs is fully equipped to help you reach your health and fitness goals.</blockquote>

                <a href="https://www.goodlifehealthclubs.com.au/activenationday?utm_source=activenationday&amp;utm_medium=referral&amp;utm_term=aslj&amp;utm_content=button&amp;utm_campaign=lornajane" class="cta-btn btn btn-outline-1 with-padding btn-outline-pink js-external-link">www.goodlife.com.au</a>

            </div>

        </div>
    </div>

    <div class="header">
        <div class="content-wrap">

            <img src="img/optimised/logo-carmans.png" alt="Carmans" class="sponsor-logo">

        </div>
    </div>

    <div class="section-body">
        <div class="content-wrap">

            <div class="description body-text">

                <blockquote class="blockquote blockquote-reset">For over 20 years now, we’ve believed in the same simple philosophy: Real food made with real passion! For us it means… food should come from the kitchen, not the chemist. We believe in being proud of our ingredients with no need to hide them in fine print. We believe that nuts and seeds enrich our wellbeing. We’re proud to be 100% Australian made and owned and we hope you enjoy our gourmet breakfast and snack range just as much as we love making them for you!</blockquote>

                <a href="http://www.carmanskitchen.com.au" class="cta-btn btn btn-outline-1 with-padding btn-outline-pink js-external-link">www.carmanskitchen.com.au </a>

            </div>

        </div>
    </div>

    <div class="header">
        <div class="content-wrap">

            <img src="img/optimised/logo-qantasassure.png" alt="Qantas Assure" class="sponsor-logo">

        </div>
    </div>

    <div class="section-body">
        <div class="content-wrap">

            <div class="description body-text">

                <blockquote class="blockquote blockquote-reset">Qantas Assure is the insurance membership with access to a Wellness Program that can reward eligible Qantas Frequent Flyer members every step of the way with Qantas Points. Simply purchase an eligible insurance policy, download the Qantas Assure App and let your phone and/or wearable device track your steps. </blockquote>

                <a href="https://www.qantasassure.com/" class="cta-btn btn btn-outline-1 with-padding btn-outline-pink js-external-link">www.qantasassure.com</a>

            </div>

        </div>
    </div>


    <div class="content-wrap">
        <h2 class="heading">
            <span class="light">Active Living Awards Partner</span>
        </h2>
        &nbsp;
    </div>


    <div class="header">
        <div class="content-wrap">

            <img src="img/optimised/logo-peppers.png" alt="Qantas Assure" class="sponsor-logo">

        </div>
    </div>

    <div class="section-body">
        <div class="content-wrap">

            <div class="description body-text">

                <blockquote class="blockquote blockquote-reset">
                Peppers is a name long associated with how Australians relax, unwind and rejuvenate.<br/><br/>Each of Peppers thirty-one hotels, resorts and retreats are nestled in desirable destinations across Australia, New Zealand and Indonesia. From sun-drenched beaches to pristine wilderness areas, guests enjoy famed Peppers hospitality in complete style and comfort.<br/><br/>With Peppers, it’s all about the experience – an experience you owe yourself as reward for the effort you make to live your life with purpose and vigour.
                </blockquote>

                <a href="http://www.peppers.com.au/activenationday/?utm_medium=partnership&amp;utm_source=lorna-jane&amp;utm_campaign=peppers_partnership_sep-16&amp;utm_content=active-nation-day_now-move-it-partners" class="cta-btn btn btn-outline-1 with-padding btn-outline-pink js-external-link">www.peppers.com.au</a>

            </div>

        </div>
    </div>
</div-->