<div class="section__generic-form sign-petition-detail">

    <!-- <div class="header">

        <div class="content-wrap">

            <h1 class="heading white-text-shadow-md">Sign the petition</h1>

            <div class="header-description body-text">
                <p class="uppercase">Our aim this year is to have national day of Active Living recognised on the Australian calendar and then the world!</p>
            </div>

        </div>

    </div> -->


    <div class="content-wrap">

        <div class="description body-text">
            <h1 class="heading">Sign the petition</h1>

            <div class="header-description">
                <p class="uppercase">Our aim this year is to have national day of Active Living recognised on the Australian calendar and then the world!</p>
            </div>

            <p class="">To the Honourable President and members of the Senate in Parliament assembled:</p>

            <p class="">The petition of the undersigned shows:</p>

            <p class="">Launched by Lorna Jane in 2012, Active Nation Day is an initiative aimed at encouraging women to work collectively towards a fitter and healthier future. Held annually on the last Sunday in September, Active Nation Day has grown to a national event, with thousands of women joining forces at free community fitness events across the nation to move their bodies and make the commitment to make Active Living a part of their everyday lives. With almost two in three Australian adults and one in four Australian children now overweight or obese and weight obesity overtaking smoking as the leading cause of premature death and illness in Australia, the time has come to act. Active Nation Day is a day dedicated to bringing this issue and need for change into the spotlight, and we seek your support to make it happen.</p>

            <p>Your petitioners ask that the Senate:</p>

            <p class="">Take action to encourage recognition and support of Active Nation Day and community awareness of the importance of Active Living.</p>
        </div>

        <!--form data-petition-form
            name="Sign Petition"
            class="form"
            data-netlify="true"
            method="POST"
            action='/thank-you/'
            netlify-honeypot="botblocker"
             >

            <div class="pre-submit">

                <p class="dn">
                    <label>Don’t fill this out: <input name="bot-field"></label>
                </p>

                <div class="two-col-fields clearfix">
                    <div class="col">
                        <div class="field">
                            <label for="fName" class="label">First Name</label>
                            <input type="text" id="fName" name="fName" class="text-input" placeholder="First Name">
                        </div>
                    </div>

                    <div class="col">
                        <div class="field">
                            <label for="lName" class="label">Last Name</label>
                            <input type="text" id="lName" name="lName" class="text-input" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="email" class="label">Email address</label>
                    <input type="email" id="email" name="email" class="text-input" placeholder="Email">
                </div>

                <div class="two-col-fields clearfix">

                    <div class="col">
                        <div class="field">
                            <label for="state" class="label">State</label>

                            <div class="custom-select">
                                <select name="state" id="state" data-target="[data-postcode-field]" data-state-select>
                                    <option disabled selected>Select</option>
                                    <option value="NSW">NSW</option>
                                    <option value="VIC">VIC</option>
                                    <option value="TAS">TAS</option>
                                    <option value="SA">SA</option>
                                    <option value="ACT">ACT</option>
                                    <option value="WA">WA</option>
                                    <option value="NT">NT</option>
                                    <option value="QLD">QLD</option>
                                    <option value="NIA">Not in Australia</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="field" data-postcode-field>
                            <label for="postcode" class="label">Postcode</label>
                            <input type="tel" id="postcode" name="postcode" class="text-input" placeholder="e.g. 4000">
                        </div>
                    </div>

                </div>

                <div class="field checkbox-field">
                    <div class="checkbox-inner-container">
                        <input type="checkbox" name="terms" id="terms" class="checkbox-input" value="1">
                        <label for="terms" class="checkbox-label">
                            <span>I accept the <a href="/terms/">Terms and conditions</a></span>
                        </label>
                        <div class="checkbox-indicator checkbox-indicator" aria-hidden="true"></div>
                    </div>
                </div>

                <div class="field checkbox-field">
                    <div class="checkbox-inner-container">
                        <input type="checkbox" name="optin" id="optin" class="checkbox-input" value="Yes">
                        <label for="optin" class="checkbox-label">
                            <span>Join the Sisterhood! Active inspiration delivered to your inbox.</span>
                        </label>
                        <div class="checkbox-indicator checkbox-indicator" aria-hidden="true"></div>
                    </div>
                </div>

                <div class="error-container general-error-container" data-error-container></div>

                <button type="submit" class="submit-btn btn-solid-1 btn-solid-pink with-hover btn">Sign petition</button>


            </div>


            <div class="success body-text" tabindex="0" data-submission-success>
                <p class="pink-text-highlight">Thanks for signing the petition and joining the cause!</p>

                <button type="button" class="btn share-btn" data-track-category="Sign Petition" data-share-link="http://nowmoveit.com/sign-petition.html" data-fb-share>
                    <div class="share-btn-icon inline-svg js-inline-svg" data-use="#svg-logo-fb-01" aria-hidden='true'>Facebook Logo</div>
                    <div class="share-btn-text">Share this petition on Facebook </div>
                </button>
            </div>

        </form-->


    </div>

</div>