<div class="legal-page">
    <div class="content-wrap">
        <h2 class="pink-text-highlight">Active Nation Day Petition Terms of Participation</h2>

        <p>To sign the petition, you must provide us with information about yourself that is true, current and complete.</p>

        <p>When you provide us with your contact details and opt in to receive Sisterhood Communications you consent to receiving messages ((including by email, SMS and/or MMS) from Lorna Jane.</p>

        <p>You can unsubscribe from messages sent by us at any time by clicking on the <strong>&#8220;unsubscribe&#8221;</strong> link at the bottom of our emails.</p>

        <p>You acknowledge that: when you sign the petition in one of our stores, events or on our website, your name, email, post code and state will be made available to the relevant Australian Senate to urge them to do all in their power to encourage recognition of Active Nation Day and raise community awareness of Active Living. </p>

        <h2 class="pink-text-highlight">Terms of use</h2>

        <p>By using the Lorna Jane Application you accept its terms of use outlined below.</p>

        <p>The Lorna Jane iPhone application allows users to record and share workout information, and view other users activity hosted at nowitmove.com and nowmoveit.com.au, which are digital properties of Lorna Jane PTY LTD. iPhone application users will have their data shared to the overarching Activity map on the website.</p>

        <p>Use of the Lorna Jane iPhone application will record specific information about users workouts including date, activity type, time taken, distanced traveled, calories burned, max speed, average speed, activity locations, and other variables related to their workouts. Users of the application may chose to login into the iPhone application with Facebook, at which point this information will be tied to their Facebook account and viewable by Facebook connect on the website. Users may chose to suspend this data sharing at any time with in the iPhone application. For users who choose not to login to the application with Facebook, their data will be submitted to nowmoveit.com/nowmoveit.com.au as an anonymous entry. Please view our <a href="http://www.lornajane.com.au/terms-and-conditions/privacy-policy" class="js-external-link">privacy policy</a> for more information on how your personal information may be used.</p>

        <p>The Active Nation Day badge reward is only valid in full price Lorna Jane retail stores and lornajane.com.</p>
    </div>
</div>