<div class="section__generic-form sign-petition-detail">

    <!-- <div class="header">

        <div class="content-wrap">

            <h1 class="heading white-text-shadow-md">Sign the petition</h1>

            <div class="header-description body-text">
                <p class="uppercase">Our aim this year is to have national day of Active Living recognised on the Australian calendar and then the world!</p>
            </div>

        </div>

    </div> -->


    <div class="content-wrap">

        <div class="description body-text">
            <h1 class="heading">Watch the Video</h1>

            <div class="header-description">
              {{ .Content }}
            </div>




        </div>


    </div>

</div>